doctype html
html(class="no-js", lang="ru")
    include ../components/head/head
    include ../components/example/example
    include ../components/footer/footer
    include ../components/header/header
    include ../components/popup/popup
    include ../components/promo-slider/promo-slider
    include ../components/tabs/inform

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        +header(head.defaults)
        .page__content
            .container
                .tabs-content
                    .tabs-content__item
                        +slider
                    .tabs-content__item
                        +information()
                    .tabs-content__item
                        +privilege()

        +footer()
        +popup(head.defaults)


        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')

