// Common styles of the project

//atomic styless
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: "PT Sans", "Arial", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 990px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
}

//header
.search-form {
    position: relative;
    &__submit {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        font-size: 0;
        display: block;
        border: none;
        background: none;
        padding: 0;
    }

    &__icon {
        width: 100%;
        height: 100%;
    }

    &__input {
        width: 250px;
        height: 32px;
        font-size: 14px;
        color: #b2b2b2;
        border: 1px solid #b2b2b2;
        padding: 0 39px 0 6px;
        font-family: $font-family;

        @media (max-width: 648px) {
            width: 160px;
        }

        @media (max-width: 435px) {
            width: 240px;
        }

        &:not(:focus) {
            text-overflow: ellipsis;
        }
    }
}

.tabs-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    &__item {
        display: block;
    }

    &__link {
        display: block;
        text-decoration: none;
        text-align: center;
        color: inherit;
        padding: 10px 14px 29px 12px;
        border-top: 2px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        cursor: pointer;
        @media (max-width: 1023px) {
            font-size: 12px;
        }

        @media (max-width: 435px) {
            padding-bottom: 19px;
        }

        @media (max-width: 357px) {
            padding-bottom: 13px;
            padding-top: 5px;
        }

        &.is-active {
            background-color: #ffffff;
            color: #e42644;
            border-top-color: #e42644;
            border-left-color: #b2b2b2;
            border-right-color: #b2b2b2;
            padding-left: 15px;
            pointer-events: none;
        }
    }
}

.header {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 30px;

    &__bottom {
        padding-top: 11px;
        padding-bottom: 8px;
    }

    &__logo {
        margin-right: 72px;
        @media (max-width: 1023px) {
            margin-right: 0;
        }

        @media (max-width: 806px) {
            margin-right: auto;
        }

        @media (max-width: 435px) {
            margin-left: auto;
            margin-right: auto;
        }

    }
    &__tabs-list {
        margin-top: auto;
        position: relative;
        top: 9px;

        @media (max-width: 1023px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 806px) {
            margin-left: auto;
            margin-right: auto;
            order: 2;
        }

        @media (max-width: 435px) {
            font-size: 9px;
        }

    }
    &__top {
        background: #efefef;
        padding-top: 9px;
        padding-bottom: 12px;
        font-size: 12px;

        @media (max-width: 648px) {
            font-size: 10px;
        }

        @media (max-width: 435px) {
            font-size: 8px;
        }
    }
    &__tabs-list-mobile {
        display: none;
    }
    &__search {
        margin-left: auto;
        top: 2px;

        @media (max-width: 1023px) {
            margin-left: 0;
        }

        @media (max-width: 435px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__language-list {

        @media (max-width: 357px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__inform-list {

        @media (max-width: 357px) {
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.language-list {
    &__language-item {
        margin-right: 29px;

        @media (max-width: 648px) {
            margin-right: 10px;
        }

    }

    &__language-link {
        text-decoration: none;
        font-family: $font-family;
        font-weight: 700;
        color: $link-c;
    }
}

.inform-list {

    &__link {
        position: relative;
        text-decoration: none;
        font-family: $font-family;
        font-weight: 700;
        color: $link-c;
        display: inline-block;
    }

    &__item {
        margin-left: 40px;
        display: inline-block;

        @media (max-width: 648px) {
            margin-left: 10px;
        }
    }

    &__time-ico {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 525px) {
            display: none;
        }
    }

}

// poupup
.modal-form {
    width: 300px;
    border: 1px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;

    &__span-close {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: block;
    }
}

.Autentification-form {
    text-align: center;

    &__input {
        display: block;
        margin: 10px auto;

    }
    .enter-btn {
        width: 174px;
        border-radius: 2px;
        background: $active-c;
        border: 0;
        &:active {
            border: 0;
        }
    }

    &__link {
        cursor: pointer;
        color: $link-c;
    }

    &__err-message {
        display: none;
        border: 1px solid red;
        margin-top: 15px;
    }
}

/* Пoдлoжкa */
#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.valid {
    display: block;
}


.tabs-content {
    &__item {
        display: none;

        &:first-child {
            display: block;
        }
    }
}


