// File for scss-vars.
// For example: main colors, paddings and so on.

$header-c:#ededed;
$background-c:#fff;
$link-c:#0c4da2;
$border-c:#c8c8c8;
$active-c:#e7435d;
$input-c:#b2b2b2;
$font-family:'PTSans','Arial', sans-serif;;