mixin popup(data)
	div#modal_form.modal-form
		span#modal_close.modal-form__span-close x
		form#Autentification-form.Autentification-form
			h1 Авторизация
			label.Autentification-form__label(for="input [name ='email']") Введите Email
			input.Autentification-form__input.valid(type="email" name="email" placeholder="Email")
			label.Autentification-form__label(for="input [name ='pass']") Введите пароль
			input.Autentification-form__input.valid(type="password" name="pass" placeholder="Пароль")
			label.Autentification-form__label.js-rettryPassword(for="input [name ='pass1']" style="display:none;") Повторите  пароль
			input.Autentification-form__input.valid(type="password" name="pass1" placeholder="Повторите пароль" style="display:none;")
			input.Autentification-form__input.enter-btn(type="button" name="enter", value="Авторизоваться")
			a.Autentification-form__link(src="#" id="swap-autentificaton") У вас нет логина?
			div.Autentification-form__err-message.js-message-err Проверьте корректность введенного вами почтового ящика! Пароль должен содержать не менее 6 символов , хотябы 1 заглавную букву и  1 цифру!
	div#overlay
