.promo-slider {
    position: relative;
    width: calc(100% + 140px);
    margin-left: -70px;
    &__btn {
        position: absolute;
        top: 49%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        z-index: 1;
        &--prev {
            left: 6%;
        }
        &--next {
            right: 6%
        }
    }
    &__item {
        &.swiper-slide-active {
            z-index: 1;
        }
    }
    &__img {
        width: 100%;
    }
    &__bottom-line {
        background: rgba(117, 117, 117, 0.8);
        position: relative;
        width: 97%;
        margin: 0 auto;
        height: 6px;
        z-index: 0;
    }
    &__bottom-second-line {
        background: #c5c5c5;
        position: relative;
        width: 93%;
        margin: 0 auto;
        height: 11px;
        z-index: -1;
        top: -5px;
    }
    @media (max-width: 1140px) {
        width: 100%;
        margin-left: 0;
    }
}
