mixin slider(data)
    .swiper-container.promo-slider
        .swiper-wrapper
            .swiper-slide.promo-slider__item
                img.promo-slider__img(src="%=static=%img/content/slide1.png",alt="slide 1")
            .swiper-slide.promo-slider__item
                img.promo-slider__img(src="%=static=%img/content/slide2.png", alt="slide 2")
        button.promo-slider__btn.promo-slider__btn--prev
            img(src="%=static=%img/content/left-arrow.png", alt="")
        button.promo-slider__btn.promo-slider__btn--next
            img(src="%=static=%img/content/right-arrow.png", alt="")
        .promo-slider__bottom-line
        .promo-slider__bottom-second-line
