mixin header(data)
    .header
        .header__top
            .container.d-flex.jc-space-between.ai-center
                .language-list.header__language-list.d-flex
                    .language-list__language-item
                        a.language-list__language-link(href="#") USA site
                    .language-list__language-item
                        a.language-list__language-link.plusrange(href="#") Deutsch site
                    .language-list__language-item Россия: &nbsp;
                        a.language-list__language-link(href="#") Switch to english
                .inform-list.header__inform-list
                    div.inform-list__item
                        a.inform-list__link(href="#")
                            svg.inform-list__time-ico(width="15px" height="15px")
                                use(xlink:href="#time")
                            | Онлайн-табло
                    div.inform-list__item
                        a#poupup.inform-list__link(href="#") Вход и регистрация
        .header__bottom
            .container.d-flex.ai-center
                A.logo.header__logo(href="/")
                    IMG.logo__img(src="%=static=%img/content/logo.png")
                UL.tabs-list.header__tabs-list
                    LI.tabs-list__item
                        A.tabs-list__link.is-active(href=jv0) Возможности
                    LI.tabs-list__item
                        A.tabs-list__link(href=jv0) Информация
                    LI.tabs-list__item
                        A.tabs-list__link(href=jv0) Привелегии
                FORM.search-form.header__search
                    INPUT.search-form__input(placeholder="Поиск по сайту")
                    BUTTON.search-form__submit(type="submit") Найти
                        SVG.search-form__icon
                            use(xlink:href="#search")
