mixin information(data)
    .info.tab-content
        h1.info__h1-text Some h1 text 0
        p.info__p-text some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information

mixin privilege(data)
    .privilage.tab-content
        h1.privilege__h1-text Some h1 text 1
        p.privilege__p-text  some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information
